main p{
	font-weight: bolder;
}


table {counter-reset: rowNumber -1;}

table tr {counter-increment: rowNumber;}

table tr td:first-child::before {
  content: counter(rowNumber)")";
  min-width: 1em;
  margin-right: 0.5em;
}

table tbody tr td{
	padding-bottom: 20px;
	width: 100%;
	height: 100%;
	overflow:auto;
}


table tbody tr td:nth-child(2){
	display: block;
	width: 110px;
	height: 75px;
	padding-top: 10px;
}

table {
	border-spacing: 0;
	width: 100%;
	border: 1px solid #ddd;
}
th {
    cursor: pointer;
}

th, td {
    text-align: left;
    padding: 5px;
}

tr:nth-child(even) {
    background-color: #f2f2f2
}

